openapi: 3.1.0
info:
  title: Cisco Webex Meetings Invitees API
  description: 'The Webex Meetings API enables scheduling, updating, deleting, and

    listing of Webex meetings. Endpoints support recurring meetings,

    meeting templates, invitees, recordings, transcripts, and host

    delegation. Authentication uses OAuth 2.0 bearer tokens or personal

    access tokens issued through the Webex Developer Portal.

    '
  version: 1.0.0
  contact:
    name: Webex for Developers
    url: https://developer.webex.com/docs/api/v1/meetings
servers:
- url: https://webexapis.com/v1
  description: Webex APIs
security:
- bearerAuth: []
tags:
- name: Invitees
paths:
  /meetingInvitees:
    get:
      tags:
      - Invitees
      summary: List meeting invitees for a meeting
      operationId: listMeetingInvitees
      parameters:
      - in: query
        name: meetingId
        required: true
        schema:
          type: string
      - in: query
        name: max
        schema:
          type: integer
      - in: query
        name: hostEmail
        schema:
          type: string
          format: email
      - in: query
        name: panelist
        schema:
          type: boolean
      responses:
        '200':
          description: A list of meeting invitees
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Invitee'
    post:
      tags:
      - Invitees
      summary: Create a meeting invitee
      operationId: createMeetingInvitee
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Invitee'
      responses:
        '200':
          description: Created invitee
  /meetingInvitees/{meetingInviteeId}:
    parameters:
    - in: path
      name: meetingInviteeId
      required: true
      schema:
        type: string
    get:
      tags:
      - Invitees
      summary: Get a meeting invitee
      operationId: getMeetingInvitee
      responses:
        '200':
          description: Invitee
    put:
      tags:
      - Invitees
      summary: Update a meeting invitee
      operationId: updateMeetingInvitee
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Invitee'
      responses:
        '200':
          description: Updated invitee
    delete:
      tags:
      - Invitees
      summary: Delete a meeting invitee
      operationId: deleteMeetingInvitee
      responses:
        '204':
          description: Deleted
components:
  schemas:
    Invitee:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
          format: email
        displayName:
          type: string
        coHost:
          type: boolean
        meetingId:
          type: string
        panelist:
          type: boolean
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: OAuth2-Access-Token
